*{
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  border-radius: 6px;

  color: #e6e6e6;
}

window#waybar {
  color: #cfcfcf;
  background:
    linear-gradient(
      180deg,
      rgba(28, 28, 32, 0.96),
      rgba(12, 12, 16, 0.92)
    );

  border-bottom: 1px solid rgba(255, 255, 255, 0.06);

  box-shadow:
    inset 0 -1px 0 rgba(255, 255, 255, 0.03),
    inset 0 1px 0 rgba(0, 0, 0, 0.4);
  text-shadow:
    0 0 1px rgba(255, 255, 255, 0.05),
    0 1px 1px rgba(0, 0, 0, 0.6);
}

#custom-arch {
  background: rgba(255, 255, 255, 0.10);
  color: #e6e6e6;

  padding: 0 10px;
  margin: 2px;
  border-radius: 6px;

  border: 1px solid rgba(45, 135, 214, 0.9); /*Hijau*/

  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.12);
}

/* =========================
   WORKSPACES
   ========================= */

#workspaces button {
  padding: 0 8px;
  margin: 2px;
  border-radius: 6px;

  background: rgba(120, 120, 120, 0.14);
  color: #cdd6f4;

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.06),
    0 1px 2px rgba(0, 0, 0, 0.4);

  transition: all 0.2s ease;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.25);
}

#workspaces button.active {
  background: rgba(255, 245, 99, 0.25);
  border-color: rgba(255, 245, 100, 0.5);
  box-shadow:
    0 0 10px rgba(255, 255, 255, 0.18),
    inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

#window {
  color: #cdd6f4; /* soft white / blue-grey */

  padding: 0 12px;
  margin: 2px 0 2px 6px;

  border-left: 1px solid rgba(255, 255, 255, 0.18);

  opacity: 0.85;
}

#window.empty {
  opacity: 0.35;
}


#clock {
  background: rgba(0, 0, 0, 0.25);
 /* border: 1px solid rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 5);
  border-radius: 6px; */
  box-shadow:
    0 0px 0px rgba(255, 255, 255, 0.18),
    inset 0 0px 0 rgba(255, 255, 255, 0.25);
  
  padding: 2px;
  margin: 2px;
}

 
#custom-arch {
  background: rgba(255, 255, 255, 0.10);
  color: #f2f2f2;

  padding: 0 10px;
  margin: 2px;
  border-radius: 6px;

  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.12);
}

/*===Resources===*/
#custom-resources {
  background: rgba(255, 255, 255, 0.12);
  color: #f2f2f2;

  padding: 0 10px;
  margin: 2px;
  border-radius: 6px;

  border: 1px solid rgba(255, 255, 255, 0.35);

  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.10);

  transition: all 0.25s ease;
}

/* CPU WARNING */
#custom-resources.warning {
  color: #fab387; /* peach */
  border-color: rgba(250, 179, 135, 0.95);
}

/* CPU CRITICAL */
#custom-resources.critical {
  color: #f38ba8; /* soft red */
  border-color: rgba(243, 139, 168, 0.95);
}

/* MEMORY HIGH */
#custom-resources.memory {
  color: #f9e2af; /* amber */
  border-color: rgba(249, 226, 175, 0.95);
}

#custom-resources:hover {
  background: rgba(255, 255, 255, 0.18);
}



/*===Network===*/
#network {
  background: rgba(255, 255, 255, 0.12);
  color: #74c7ec; /* cyan signal */

  padding: 0 10px;
  margin: 2px;
  border-radius: 6px;

  border: 1px solid rgba(116, 199, 236, 0.9);

  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.10);
}

#network.disconnected {
  color: #6c7086;
  border-color: rgba(108, 112, 134, 0.9);
}

#network.ethernet {
  color: #74c7ec; /* cyan */
  border-color: rgba(116, 199, 236, 0.9);
}

#network:hover {
  background: rgba(255, 255, 255, 0.18);
}


/*===Audio===*/ 
#pulseaudio.muted {
  color: #6c7086; /* dead grey */
}

#pulseaudio {
  color: #c4c4c4; /* default */
}


/*===Audio===*/
#pulseaudio {
  background: rgba(255, 255, 255, 0.12);
  color: #89b4fa; /* soft blue */

  padding: 0 10px;
  margin: 2px;
  border-radius: 6px;

  border: 1px solid rgba(137, 180, 250, 0.85);

  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.10);
}

#pulseaudio.muted {
  color: #6c7086;
  border-color: rgba(108, 112, 134, 0.9);
}

#pulseaudio:hover {
  background: rgba(255, 255, 255, 0.18);
}


/*===Backlight===*/
#backlight {
  background: rgba(255, 255, 255, 0.12);
  color: #f9e2af; /* warm yellow */

  padding: 0 10px;
  margin: 2px;
  border-radius: 6px;

  border: 1px solid rgba(249, 226, 175, 0.85);

  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.10);
}

#backlight:hover {
  background: rgba(255, 255, 255, 0.18);
  border-color: rgba(255, 235, 160, 1);
}

#backlight {
  transition: all 0.2s ease;
}


/*===Battery===*/
#battery {
  background: rgba(255, 255, 255, 0.12);
  color: #c4c4c4;

  padding: 0 10px;
  margin: 2px;
  border-radius: 6px;

  border: 1px solid rgba(255, 255, 255, 0.18);

  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.10);
}

#battery.charging {
  color: #a6e3a1;
  border-color: rgba(166, 227, 161, 0.95);
}

#battery.discharging {
  color: #a6e3a1;
  border-color: rgba(166, 227, 161, 0.85);
}


#battery.warning {
  color: #f9e2af;
  border-color: rgba(249, 226, 175, 0.95);
}

#battery.critical {
  color: #f38ba8;
  border-color: rgba(243, 139, 168, 0.95);
}

#battery:hover {
  background: rgba(255, 255, 255, 0.18);
}


/*===Power===*/
#custom-power {
  color: #f38ba8;
  font-size: 16px;
  padding: 0 12px;
}

#custom-power:hover {
  background: rgba(243, 139, 168, 0.25);
}

